
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% if (locals.users) {%>
      <% users.forEach(function(user) { %>
        <li>ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %> Email: <%= user.email %> Age: <%= user.age %> Biography:<%= user.bio %></li>
      <% }); %>
    <% } if(locals.users.length < 1) {%>
    <h2>No results found.</h2>  
    <%}%>
  </ul>
  <a href="/">Back to main page</a>
</body>
</html>
